<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
		<title>Ajout Article</title>
	</head>
	<body class="bg-secondary">
	
		<nav class="navbar shadow navbar-expand-lg navbar-light bg-light">
			<div class="container">
			  <a class="navbar-brand" href="/home">Navigation</a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav">
			      <li class="nav-item active">
			        <a class="nav-link" href="/categorie">Catégories</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="/article">Articles</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="/commande">Commandes</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="/statistiques">Statistiques</a>
			      </li>
			    </ul>
			  </div>
			 </div>
		</nav>
	
		<div class="container bg-light min-vh-100">
			<h1 class="pt-4">Ajout d'un article</h1>
			<hr>			
			
			<form action="#" th:action="@{/saveArticle}" th:object="${art}" method="POST">
				
				<select name="categorieNom" id="categorieNom" class="form-control mb-4 col-4">
					<option value="vide">--</option>
					<option th:each="categorie : ${categories}" th:value="${categorie.nom}" th:text="${categorie.nom}"></option>
				</select>
				
				<input type="text"  th:field="*{denomination}" name="dénomination" placeholder="Article dénomination" class="form-control mb-4 col-4">
				
				<input type="number" min="0" step="0.01"  th:field="*{prix}" name="prix" placeholder="Article prix" class="form-control mb-4 col-4">
				
				<input type="number" min="0" th:field="*{stock}" name="stock" placeholder="Article stock" class="form-control mb-4 col-4">
				
				<div align="center">
					<button type="submit" class="btn btn-info col-2">Sauvegarder</button> <label th:text="${erreur}" class="color-red"></label>
				</div>		
			
			</form>
			
			<hr>
			 
			<a th:href="@{/article}" class="btn btn-dark">Retour</a>
		</div>
	</body>
</html>